<div class="card mb-3 bg-dark">
    <div class="card-body">
        <h4 class="card-title"> {{ post.title }} </h4>

        <p class="card-text">
            {{ post.body }}
        </p>
    </div>
    <div class="card-footer text-right">
        <a href="#" class="edit card-link" data-id="${post.id}">
            <i class="fa fa-pencil text-success"></i>
        </a>
        <a href="#" class="delete card-link" data-id="${post.id}">
        <i class="fa fa-trash text-danger"></i>
        </a>
    </div>
</div>