{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row py-3">
            <div class="col-md-12">
                <form class="card bg-dark" action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="card-body">
                        <h1>Say Something</h1>
                        <p class="lead">What's happening?</p>

                        <div class="form-group">
                            {{ form.title(class="form-control", placeholder="Post Title") }}
                        </div>

                        <div class="form-group">
                            {{ form.body(class="form-control", cols="20", rows="3", placeholder="Post Full Story") }}
                        </div>
                        <button class="btn btn-block btn-primary">
                            {% if title == 'Create Post' %}
                                Post It!
                            {% else %}
                                Update Post!
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}